* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

body {
    /* background-image: url('../imgs/bg.jpg'); */
    /* background-image: linear-gradient(to bottom right, #000249, #0f4392, #ff4949, #dd1717); */
    background-color: #041634;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

header {
    position: relative;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    color: #FFFFFF;
}

.navBar a {
    width: 10%;
}

.navBar img {
    width: 100%;
}

.navBar nav ul {
    display: flex;
    list-style: none;
}


.navBar nav ul a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 5px;
    margin: 0px 40px;
    font-weight: 600;
    color: #FFFFFF;
    transition: border-bottom 0.1s linear;
}

.navBar nav ul a:hover {
    color: #ff36d3;
    border-bottom: 3px solid #ff36d3;
}

.navBar > i {
    font-size: 1.5rem;
}

.navBar a i {
    color: #FFFFFF;
    font-size: 1.4rem;
    border: 5px solid #FFFFFF;
    padding: 15px;
    border-radius: 50%;
    transition: color, border 0.2s linear;
}

.navBar a i:hover {
    color: #ff36d3;
    border: 5px solid #ff36d3;
    
}

.active {
    color: #ff36d3;
    border-bottom: 4px solid #ff36d3;
}

.sub-menu {
    display: none;
}

.overlay {
    /* z-index: -1; */
    display: flex;
}

.overlay .circle-left, .overlay .circle-right {
    background-color: #193085;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    filter: blur(50px);
    z-index: -1;
}

.overlay .circle-left {
    margin-left: -150px;
    margin-top: -250px;
    border-radius: 100%;
    opacity: 0.4;
}

.overlay .circle-right {
    background-color: #3792e8;
    width: 700px;
    height: 700px;
    right: 0;
    margin-right: -350px;
    margin-top: -350px;
    opacity: 0.2;
}

.anim-circles {
    display: flex;
}

.circle1, .circle2, .circle3, .circle4, .circle5, .circle6 {
    position: relative;
    background-color: #3792e8;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    filter: drop-shadow(0px 0px 10px rgb(48, 99, 214, 1));
    /* filter: blur(1px); */
    z-index: -1;
}

.circle7, .circle8, .circle9, .circle10 {
    position: relative;
    background-color: #3792e8;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    filter: drop-shadow(0px 0px 10px rgb(48, 99, 214, 1));
    /* filter: blur(1px); */
    z-index: -2;
}

.circle1 {
    background-color: #ff36d3;
    filter: drop-shadow(0px 0px 10px rgb(255, 54, 211, 1));
    animation: animate1 15s infinite;
}
.circle2 {
    animation: animate2 11s infinite;
    background-color: #ff36d3;
    filter: drop-shadow(0px 0px 10px rgb(255, 54, 211, 1));
}
.circle3 {
    background-color: #ff36d3;
    filter: drop-shadow(0px 0px 10px rgb(255, 54, 211, 1));
    animation: animate3 15s infinite;
}
.circle4 {
    animation: animate4 10s infinite;
}
.circle5 {
    animation: animate5 12s infinite;
}
.circle6 {
    animation: animate6 13s infinite;
}

.circle7 {
    background-color: #ff36d3;
    filter: drop-shadow(0px 0px 10px rgb(255, 54, 211, 1));
    animation: animate7 9s infinite linear;
}
.circle8 {
    animation: animate8 19s infinite;
}
.circle9 {
    animation: animate9 21s infinite;
}
.circle10 {
    animation: animate10 12s infinite linear;
}

@keyframes animate1 {
    0% {
        top: -250px;
        left: -30px
    }
    50% {
        top: 1000px;
        left: 800px;
    }
    100% {
        top: -250px;
        left: 1920px;
    }
}

@keyframes animate2 {
    0% {
        top: -250px;
        /* left: 0px; */
        left: 1920px;
    }
    50% {
        top: 1000px;
        left: 800px;
    }
    100% {
        top: -250px;
        left: 50px;
    }
}

@keyframes animate3 {
    0% {
        top: 1000px;
        left: -55px;
    }
    50% {
        top: -250px;
        left: 800px;
    }
    100% {
        top: 1000px;
        left: 1920px;
    }
}

@keyframes animate4 {
    0% {
        top: 1000px;
        left: 1920px;
    }
    50% {
        top: -250px;
        left: 800px;
    }
    100% {
        top: 1000px;
        left: -65px;
    }
}

@keyframes animate5 {
    0% {
        top: -250px;
        left: 800px;
    }
    25% {
        top: 250px;
        left: -60px;
    }
    50% {
        top: 1000px;
        left: 800px;
    }
    75% {
        top: 250px;
        left: 1920px;
    }
    100% {
        top: -250px;
        left: 800px;
    }
}

@keyframes animate6 {
    0% {
        top: 1000px;
        left: 800px;
    }
    25% {
        top: 250px;
        left: 1920px;
    }
    50% {
        top: -250px;
        left: 800px;
    }
    75% {
        top: 250px;
        left: -70px;
    }
    100% {
        top: 1000px;
        left: 800px;
    }
}

@keyframes animate7 {
    0% {
        top: -250px;
        left: 400px;
    }
    15% {
        top: 250px;
        left: 1950px;
    }
    30% {
        top: 1000px;
        left: 400px;
    }
    45% {
        top: 200px;
        left: -150px;
    }
    60% {
        top: -250px;
        left: 1820px;
    }
    75% {
        top: 1080px;
        left: 800px;
    }
    100% {
        top: -250px;
        left: 1200px;
    }
}

@keyframes animate8 {
    0% {
        top: -250px;
        left: 800px;
    }
    15% {
        top: 250px;
        left: -200px;
    }
    30% {
        top: 1000px;
        left: 800px;
    }
    45% {
        top: -200px;
        left: 400px;
    }
    60% {
        top: 400px;
        left: 1820px;
    }
    75% {
        top: 0px;
        left: -200px;
    }
    100% {
        top: 250px;
        left: 1200px;
    }
}

@keyframes animate9 {
    0% {
        top: 250px;
        left: 1820px;
    }
    15% {
        top: 500px;
        left: -200px;
    }
    30% {
        top: -250px;
        left: 400px;
    }
    45% {
        top: 850px;
        left: 1200px;
    }
    60% {
        top: -250px;
        left: 1820px;
    }
    75% {
        top: 200px;
        left: -200px;
    }
    100% {
        top: 800px;
        left: 1200px;
    }
}

@keyframes animate10 {
    0% {
        top: -250px;
        left: -250px;
    }
    15% {
        top: 1080px;
        left: 1820px;
    }
    30% {
        top: -200px;
        left: 400px;
    }
    45% {
        top: 450px;
        left: -250px;
    }
    60% {
        top: 200px;
        left: 1820px;
    }
    75% {
        top: -250px;
        left: -200px;
    }
    100% {
        top: 800px;
        left: 1200px;
    }
}

.main {
    margin: auto;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-left {
    width: 50%;
    margin-top: -180px;
}

.main-left span {
    font-size: 2rem;
    color: #ff36d3;
    font-weight: 500;
}

.main-left h1 {
    color: #FFFFFF;
    font-size: 6rem;
}

.main-left p {
    color: #c4c2c2;
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 70px;
    width: 80%;
}

.main-left a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 800;
    color: #FFFFFF;
    padding: 15px 35px;
    border-radius: 50px 50px 50px 50px;
    background-image: linear-gradient(to left, #25d8be, #3792e8, #b041c4);
    transition: filter 0.4s ease-in-out;
}

.main-left a:hover {
    filter: drop-shadow(0px 0px 18px rgb(48, 99, 214, 0.4));
}

.main-right {
    width: 50%;
}

.main-right img {
    width: 100%;
    filter: drop-shadow(5px 5px 45px rgb(48, 99, 214, 0.3));
}

.container {
    position: absolute;
    width: 900px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -450px;
    border: 2px solid #ff36d3;
    border-radius: 20px;
    background-color: rgb(0, 0, 0, 0.8);
    filter: drop-shadow(0px 0px 15px rgb(0, 0, 0, 0.8));
    backdrop-filter: blur(10px);
    overflow: hidden;

    z-index: -100;
    opacity: 0;
    
}

.frm {
    display: flex;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
}

#textCard {
    position: absolute;
    left: 0;
    background-image: linear-gradient(to bottom right, #ff36d3, #3062d6);
    width: 50%;
    height: 600px;
    padding: 10px 10px;
    z-index: 30;
    transition: transform 0.3s ease-in-out;
}

#textCard h1, #textCard  p {
    color: #FFFFFF;
    text-align: center;
    padding: 50px 10px 0px 10px;
    margin: auto;
}

#textCard i {
    font-size: 1.3rem;
    color: #FFFFFF;
    margin: 5px;
} 

#textCard h1 {
    font-size: 2.5rem;
}

#textCard p {
    font-size: 1.2rem;
    margin: 10px 0px;
}

#signInFrmRight {
    width: 60%;
    height: 600px;
    z-index: 9;
    transition: transform 0.3s ease-in-out;
}

.container form {
    display: flex;
    flex-direction: column;
    padding: 60px 100px;
}

#signUpFrmRight, #signInFrmRight  {
    position: absolute;
    right: 0;
}

#signUpFrmRight form {
    padding: 30px 100px;
}

#signUpFrmRight  {
    opacity: 0;
    z-index: 10;
}

#signInFrmRight  {
    position: absolute;
    margin-right: -50px;
    z-index: 20;
    transition: transform 0.3s ease-in-out;
    /* display: none; */
}

.container form label {
    color: #FFFFFF;
    margin: 20px 0px;
    margin-bottom: 5px;
}

.container form input {
    color: #FFFFFF;
    padding: 10px 5px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #FFFFFF;
}

.container form #lgBtn, #sgBtn {
    color: #FFFFFF;
    background-image: linear-gradient(to left, #25d8be, #3792e8, #b041c4);
    width: 70%;
    padding: 10px 0px;
    margin: 20px auto;
    margin-bottom: 1px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.container form span {
    color: #ff36d3;
    font-weight: 600;
    cursor: pointer;
}

.container form input:focus {
    border-bottom: 2px solid #ff36d3;
}

.container form p {
    text-align: center;
    color: #FFFFFF;
    margin: 20px 0px;
}

.container form p a {
    color: #FFFFFF;
}




/* Responsive Design goes here */
@media only screen and (max-width: 480px) {
    body {
        height: 100vh;
        overflow: none;
    }

    /* Nav Bar Settings goes here */
    .navBar {
        padding: 30px 40px;
        margin: 0;
    }
    .navBar a {
        width: 30%;
    }
    
    .navBar img {
        width: 100%;
    }
    
    .navBar > i {
        display: none;
    }

    .navBar nav {
        display: none;
    }

    .navBar .sub-menu {
        display: block;
        position: relative;
    }

    .navBar .sub-menu i {
        font-size: 1.5rem;
    }

    .sub-menu-list {
        position: absolute;
        text-align: center;
        background-image: linear-gradient(to bottom right, #193085, #041634);

        list-style: none;
        z-index: 2;
        width: 250px;
        margin-top: -70px;
        height: 98vh;
        padding: 10px 0px;
        text-align: center;
        right: -350px;
        transform: translateX(0px);
        

        transition-property: transform, box-shadow;
        transition-duration: 0.6s;
        transition-timing-function: ease-in;
        transition-delay: 0.1s;
        
    }

    .sub-menu ul li {
        padding: 10px 0px;
        border-top: 2px solid #FFFFFF;  
    }

    .sub-menu ul li:first-child {
        margin-top: 300px;
    }

    .sub-menu ul li:last-child {
        border-bottom: 2px solid #FFFFFF;  
    }

    .sub-menu ul a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1.3rem;
        margin: auto;
        padding: 10px;
        margin: 30px 0px;
    }

    .sub-menu:hover > .sub-menu-list {
        display: block;
        transform: translateX(-310px);
        box-shadow: -5px 0px 30px rgb(0, 0, 0, 0.8);
    }

    /* .navBar .sub-menu:hover > .sub-menu > ul {
        
        box-shadow: -5px 0px 30px rgb(0, 0, 0, 0.8);
    } */

    .overlay {
        width: 100%;
        display: block;
        height: 100vh;
        overflow: hidden;
        z-index: -1;
        margin-top: -120px;
        margin-bottom: -800px;
    }

    .circle-left {
        height: 100px;
        width: 100px;
        margin: 0;
    }
    .circle-right {
        display: none;
    }

    .main {
        display: block;
        padding: 0px 40px;
        width: 80%;
        height: 500px;
    }

    .main-left {
        margin: auto;
        margin-top: 50px;
        width: 100%;
    }

    .main-left h2 {
        margin: auto;
        text-align: left;
    }

    .main-left h2 > span {
        width: 10%;
        font-size: 1.2rem;
    }

    .main-left h1 {
        text-align: left;
        font-size: 2.9rem;
    }
    .main-left p {
        width: 100%;
        font-size: 1.2rem;
        margin: 0;
        margin-top: 5px;
        margin-bottom: 30px;
        text-align: justify;
    }
    .main-left a {
        text-align: left;
        font-size: 0.9rem;
        padding: 10px 20px;  
    }
    .main-right {
        margin: auto;
        margin-top: 40px;
        width: 100%;
        padding: 20px 0px;
    }
    .main-right img {
        width: 110%;
    }

}