* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('../imgs/Backgroung.png');
    background-repeat: no-repeat;
}

header {
    padding: 30px 200px;
    background-color: rgb(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: none;
}

header img {
    width: 25%;
    color: #FFFFFF;
}

#header-submenu {
    display: none;
    color: #FFFFFF;
    font-size: 130%;
    z-index: 1;
    overflow: none;
}

#header-submenu-list {
    position: fixed;
    background-image: linear-gradient(to bottom, #2E004F, #5D0492);
    z-index: 2;
    margin-top: -65px;
    height: 100vh;
    padding: 10px 0px;
    text-align: center;
    left: 425px;
    transform: translateX(0px);
    

    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
}

#header-submenu-list ul { 
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    width: 250px;
}
#header-submenu-list ul li {
    list-style-type: none;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 3px solid #FFFFFF;
}

#header-submenu-list ul li:last-child {
    border-bottom: none
}

#header-submenu-list ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 90%;
    font-family: 'Poppins', sans-serif;
    margin: 0px 20px;
}

#header-submenu:hover > #header-submenu-list {
    display: block;
    transform: translateX(-250px);
}

#header-left {
    width: 30%;    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    margin: 0px 35px;

    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 110%;
    text-transform: uppercase;
    padding: 10px 0px;
    font-weight: 500;

    transition-property: color, border-bottom;
    transition-duration: 0.9s;
    transition-timing-function: linear;
    transition-duration: 0.1s;
}

nav ul li a:hover {
    color: #5D0492;
    border-bottom: 5px solid #5D0492;
}

.active {
    color:#5D0492;
    font-weight: 600;
    border-bottom: 5px solid #5D0492;
}


.main-container {
    display: flex;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgb(0, 0, 0, 0.9);
    height: 785px;
}

#main-left {
    padding-left: 200px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    width: 40%;
    margin: auto;
}

#main-left h1 {
    font-size: 400%;
    font-weight: 600;
    line-height: 70px; 
    text-transform: uppercase;
    margin-top: -90px;
    /* margin-bottom: 20px; */
}

#main-left p {
    font-size: 150%;
    font-weight: 300;

    margin: 50px 0px;
    margin-top: 20px;
}

#main-left a {
    color: #FFFFFF;
    padding: 15px 40px;
    border-radius: 5px 30px 5px 30px;
    background-image: none;
    font-size: 180%;
    font-weight: 600;
    text-decoration: none;
    border: 5px solid #5D0492;

    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
}

#main-left a:hover {
    background-color: #5D0492;
    box-shadow: 5px 5px 10px rgb(255, 0, 0, 0.1);
}

span {
    color: #5D0492;
}

#underline {
    color: #FFFFFF;
    border-bottom:  8px solid #FFFFFF;
}

#main-right {
    width: 50%;
}

#main-right img {
    width: 110%;
    overflow: none;
    opacity: 0.3;
    margin-left: 150px;
    margin-top: 340px;
}

.services {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    text-align: center;
    padding: 60px 200px;
    background-image: url('../imgs/ourServicesBG.png');
}

#services-up #underline {
    border-bottom:  8px solid #5D0492;
}


#services-up h1 {
    color: #FFFFFF;
    font-size: 400%;
    font-weight: 600;
    text-transform: uppercase;
}

#services-up p {
    color: #FFFFFF;
    font-size: 150%;
    font-weight: 300;
    padding: 20px 0px;
}



#row {
    display: flex;
    margin: 40px 0px;
}

#card {
    background-color: #FFFFFF;
    margin: 0px 20px;
    padding: 30px 30px;
    height: 500px;
    border-radius: 20px;

    box-shadow: 4px 7px 10px rgb(0, 0, 0, 0.6);
}

#card img {
    height: 110px;
}

#card h1 {
    font-size: 180%;
    text-transform: uppercase;
    line-height: 35px;
    margin: 20px 0px;
    padding: 0px 55px;
}

#card p {
    color: #FFFFFF;
    font-size: 120%;
    margin-top: 110px;
    margin-bottom: 30px;
}


#card #lm-button {
    text-align: right;
    font-size: 100%;
}

#card div a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 100%;
    
    margin: 0px 0px;
    padding: 10px 5px;
    padding-left: 10px;
    border-radius: 50px;

    transition-property: color, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
}

#card i {
    color: #FFFFFF;
    font-size: 100%;
    margin-left: 10px;
}

#card-button {
    align-items: center;
    justify-content: space-between;
}

/* #card a:hover {
    color:#000000;
    background-color: #FFFFFF;
}

#card a:hover > i {
    color:#2E004F;
} */

.card-v1, .card-v1 > h1, .card-v1 i {
    background-image: url('../imgs/bg1.png');
    background-size: 120%;
    background-position: -40px 230px;
    background-repeat: no-repeat;

    color: #5D0492;
    
    transition-property: background-position;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
    transition-delay: 0.2s;
}

.card-v2, .card-v2 > h1, .card-v2 i {
    background-image: url('../imgs/bg2.png');
    background-size: 150%;
    background-position: -30px 230px;
    background-repeat: no-repeat;

    color: #0C44A1;

    transition-property: background-position;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
    transition-delay: 0.2s;
}

.card-v1:hover, .card-v2:hover  {
    background-position: -85px 230px;
}


.team {
    margin: auto;
    /* background-image: url('../imgs/teamBG.png'); */
    background-image: linear-gradient(to left, #001C44, #0C44A1);
    background-repeat: no-repeat;

    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 50px 200px;
    justify-items: center;
    justify-content: space-between;
}

.team #row {
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px;
}

#team-up {
    margin-bottom: 30px;
}


#team-up h1 {
    color: #FFFFFF;
    font-size: 400%;
    font-weight: 600;

    text-transform: uppercase;
}

#team-down h2 {
    color: #FFFFFF;
    margin-top: 20px;
    font-size: 200%;
    font-weight: 600;
}

#profile {
    padding: 40px 40px;
}

#profile > h2 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 200%;
    text-transform: uppercase;
    margin-top: 40px;
}

#profile-ico {
    height: 350px;
    width: 350px;
    
    border: 10px solid #FFFFFF;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
}

#profile-ico img {
    width: 350px;
    
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
}

#profile-ico img:hover {
    transform: scale(1.07);
}

.team #lm-button {
    text-align: right;
}

.team #lm-button a {
    color:#FFFFFF;
    font-size: 120%;
    text-decoration: none;

    transition-property: color, font-weight;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
}

.team #lm-button a:hover {
    color: #5D0492;
    font-weight: 600;
}

.team #lm-button i {
    margin-left: 10px;
}



/* Testimonials Styling */

.testimonials {
    padding: 40px 200px;
    background-image: linear-gradient(to right, #2E004F, #5D0492);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 600px;
}


#testimonials-up h1 {
    color: #FFFFFF;

    font-family: 'Poppins', sans-serif;
    font-size: 400%;
    font-weight: 600;
    
    text-transform: uppercase;
    margin-bottom: 70px;
}

#testimonials-down {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#testimonials-card {
    background-color: rgb(255, 255, 255, 1);
    padding: 50px 50px;
    border-radius: 25px;
    height: 300px;
}

.testimonials #row {
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin: auto;
}

#testimonials-profile-ico {
    width: 30%;
}
#testimonials-profile-ico img {
    width: 90%;
}

#rating-stars {
    width: 70%;
    padding: 0px 20px;
    color: #5D0492;
}

#rating-stars > i {
    font-size: 160%;
    margin: 5px 3px;
}

#rating-stars h1 {
    color: #000000;
    font-size: 150%;

    font-family: 'Poppins', sans-serif;
}

#review p {
    color: rgb(0, 0, 0, 0.5);
    font-size: 120%;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}

.slide-parent {
    width: 34%;
    height: 410px;    
    position: relative;
    overflow: hidden;
}

.slide {
    margin: auto;
    width: 80%;

    position: absolute;
    transition: 0.5s;
}

#testimonials-down button {
    padding: 40px 40px;
    background-color: transparent;
    border: none;
}

#testimonials-down button i {
    text-align: center;
    font-size: 1000%;
    color: #FFFFFF;
    margin: auto;
}

/* Footer Styling */
footer {
    padding: 30px 200px;
    background-color: #000000;
    color: #FFFFFF;
}

#footer-top {
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    display: flex;
    padding: 40px 0px;

    align-items: center;
    justify-content: space-between;
}

#footer-top-left a {
    text-decoration: none;
    color:#FFFFFF
}

#footer-top-left i {
    font-size: 140%;
    margin: 0px 40px;
    transition: color, 0.2s, ease-in, 0.1s;
}

#footer-top-left:first-child i {
    margin-left: 0;
}

#footer-top-left i:hover {
    color: #5D0492;
}

#footer-top-right ul {
    display: flex;
}

#footer-top ul {
    list-style: none;
}


#footer-top ul li a {
    text-decoration: none;
    color:#FFFFFF;
    text-transform: uppercase;

    font-size: 120%;
    font-family: 'Poppins', sans-serif;
    margin-left: 40px;
    padding: 5px 0px;
    padding-left: 40px;
    border-left: 3px solid #FFFFFF;
    text-decoration: none;
    color:#FFFFFF;

    transition: color, 0.2s, ease-in, 0.1s;
}

#footer-top ul li a:hover {
    color: #5D0492;
}

#footer-top ul li:first-child a {
    border-left: none;
}

#footer-bottom {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;

    margin-top: 20px;
    font-size: 90%;
}


/* Portfolio Page Styling goes here */

.portfolio span {
    padding: 0;
    margin: 0;
}

.portfolio h1 {
    
}

#row {
    justify-content: space-between;
}

.portfolio-main {
    padding: 45px 200px;
    display: flex;
    background-color: rgb(0, 0, 0, 0.9);

    align-items: center;
    overflow: hidden;
}

#portfolio-main-left {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    margin-top: -100px;
}

#portfolio-main-left h1 {
    font-size: 600%;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#portfolio-main-left p {
    font-size: 150%;
    font-weight: 400;
    width: 70%;
    
}

#porfolio-main-right {
    width: 20%;
}

#round-pic-card {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: -400px;
}

#round-pic-card img {
    height: 700px;
    margin-left: -180px;
}

.work {
    padding: 50px 300px;
    text-align: center;
    background-image: linear-gradient(to right, #2E004F, #5D0492);

    color:#FFFFFF;
    font-family: 'Poppins', sans-serif;
    text-align: justify center;
}

.work h1 {
    font-size: 400%;
    font-weight: 600;
    text-transform: uppercase;
}

.work p {
    font-size: 150%;
    font-weight: 400;
    margin-top: 20px;
}

/* Web Designing & Development Styling goes here */
.webDev {
    padding: 20px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-image: linear-gradient(to left, #001C44, #0C44A1);
}

#webDev-left{
    width: 40%;
}

#pic-cardLeft { 
    width: 900px;
    height: 900px;
    background-color: #2E004F;
    overflow: hidden;
    position: relative;
    border-radius: 15%;
    transform: rotate(45deg);
    margin-left: -480px;
    box-shadow: 15px -15px 40px rgb(0, 0, 0, 0.5);   
}

#pic-cardLeft img { 
    margin-top: 50px;
    margin-left: -550px;
    height: 1000px;
    transform: rotate(-45deg);
}

#webDev-right {
    width: 60%;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

#webDev-right h1{
    width: 60%;
    font-size: 400%;
    font-weight: 600;
    line-height: 70px;
    text-transform: uppercase;
}

#webDev-right p {
    font-size: 150%;
    font-weight: 300;
    margin: 20px 0px;
    text-align: justify;
}

#webDev-right #pCard1 {
    text-align: center;
    display: block;
    background-color: #FFFFFF;
    border-radius: 25px;
    height: 300px;
    width: 45%;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.5);
}

#webDev-right #pCard1 img {
    width: 100%;
    margin-bottom: 30px;
}

#webDev-right #pCard1 a {
    text-decoration: none;
    color: #0C44A1;
    font-size: 110%;
    font-weight: 800;
    padding: 10px 30px; 
    border-radius: 50px;
    border: 3px solid #0C44A1;

    transition-property: color, background-color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0.1;
    
}

#webDev-right #pCard1 a:hover {
    color: #FFFFFF;
    background-color: #0C44A1;
    box-shadow: 1px 0px 10px rgb(0, 0, 0, 0.5);
}


.graphDesign {
    padding: 20px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-image: linear-gradient(to right, #2E004F, #5D0492);
}

#graphDesign-left {
    width: 60%;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;

}

#graphDesign-left h1 {
    font-size: 400%;
    font-weight: 600;
    text-transform: uppercase;

    width: 60%;
    line-height: 70px;
}

#graphDesign-left p {
    font-size: 150%;
    font-weight: 300;
    text-align: justify;

    margin: 20px 0px;
}

#graphDesign-left #row {
    justify-content: space-between;
}

#graphDesign-left #pCard1 {
    text-align: center;
    display: block;
    background-color: #FFFFFF;
    border-radius: 25px;
    height: 330px;
    width: 30%;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.5);
}

#graphDesign-left #pCard1Img {
    height: 200px;
    overflow: hidden;
}

#graphDesign-left #pCard1 img {
    align-items: center;
    width: 100%;

    transition: transform, 0.1s, ease-in, 0.7s;
}

#graphDesign-left #pCard1 img:hover {
    transform: scale(1.2);
}

#graphDesign-left #pCard1 h2 {
    color: #5D0492;
    font-size: 150%;
    text-transform: initial;
    text-align: center;
    margin: 0px auto;
    margin-top: 15px;
    margin-bottom: 25px;
}

#graphDesign-left #pCard1 a {
    text-decoration: none;
    color: #5D0492;
    font-size: 90%;
    font-weight: 800;
    padding: 5px 20px; 
    border-radius: 50px;
    border: 3px solid #5D0492;

    transition-property: color, background-color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0.1;
    
}

#graphDesign-left #pCard1 a:hover {
    color: #FFFFFF;
    background-color: #5D0492;
    box-shadow: 1px 0px 10px rgb(0, 0, 0, 0.5);
}


#graphDesign-right {
    width: 40%;
}

#pic-cardRight { 
    width: 900px;
    height: 900px;
    background-color: #2E004F;
    overflow: hidden;
    position: relative;
    border-radius: 15%;
    transform: rotate(45deg);
    margin-left: 200px;
    box-shadow: -15px 15px 40px rgb(0, 0, 0, 0.5);   
}

#pic-cardRight img { 
    margin-top: -5px;
    margin-left: -280px;
    height: 960px;
    transform: rotate(-45deg);
}


/* Wordpress Development Styling goes here */
.wpDev {
    padding: 20px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-image: linear-gradient(to left, #001C44, #0C44A1);
}

#wpDev-left{
    width: 40%;
    /* overflow: hidden; */
}

#wpDev-left #pic-cardLeft img {
    margin: 0;
    margin-top: -180px;
    margin-left: 180px;
}

#wpDev-right {
    width: 60%;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

#wpDev-right h1{
    width: 90%;
    font-size: 400%;
    font-weight: 600;
    line-height: 70px;
    text-transform: uppercase;
}

#wpDev-right p {
    font-size: 150%;
    font-weight: 300;
    margin: 20px 0px;
    text-align: justify;
    /* text-transform: uppercase; */
}

#wpDev-right #pCard1 {
    text-align: center;
    display: block;
    background-color: #FFFFFF;
    border-radius: 25px;
    height: 300px;
    width: 45%;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.5);
}

#wpDev-right #pCard1 img {
    width: 100%;
    margin-bottom: 30px;
}

#wpDev-right #pCard1 a {
    text-decoration: none;
    color: #0C44A1;
    font-size: 110%;
    font-weight: 800;
    padding: 10px 30px; 
    border-radius: 50px;
    border: 3px solid #0C44A1;

    transition-property: color, background-color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0.1;
    
}

#wpDev-right #pCard1 a:hover {
    color: #FFFFFF;
    background-color: #0C44A1;
    box-shadow: 1px 0px 10px rgb(0, 0, 0, 0.5);
}


/* Services Page Styling goes here */
.oServices #row {
    
}

.oServices {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.oServices span {
    font-weight: 800;
}

.oServices-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 200px;
    background-color: rgb(0, 0, 0, 0.9);
}

#oServices-main-left {
    width: 80%;
    margin-top: -100px
}

#oServices-main-left h1 {
    font-size: 600%;
    font-weight: 600;
    text-transform: uppercase;
    
}

#oServices-main-left p {
    font-size: 150%;
    width: 70%;
}


#oServices-main-right {
    width: 20%;
}

.servInfo {
    padding: 45px 200px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;

    background-image: linear-gradient(to right top, #001C44, #0C44A1);
}

#servicesCard {
    /* text-align: center; */
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 650px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

#servicesCardIcoBG {
    background-color: #5D0492;
    border-radius: 0px 0px 1000px 0px;
    height: 350px;
    width: 550px;
    margin-left: -150px;
    margin-top: 0px;
    position: absolute;

    transition-property: width, margin-left, margin-top;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
}

#servicesCard:hover > #servicesCardIcoBG {
    margin-left: -300px;
    margin-top: -150px;
}

#servicesCardIcoBG img {
    width: 40%;
    margin-left: 200px;
    margin-top: 50px;
    
    transition-property: width, margin-left, margin-top;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
}

#servicesCard:hover > #servicesCardIcoBG > img {
    width: 20%;
    margin-left: 325px;
    margin-top: 160px;   
}

#moreInfo {
    opacity: 0;
    text-align: center;
    color:#5D0492;
    /* text-align: right; */
    margin-left: 200px;
    margin-top: 50px;
    width: 60%;


    transition-property: opacity;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
}

#moreInfo h1 {
    text-align: left;
    font-size: 200%;
    width: 80%;
    line-height: 35px;
    text-transform: uppercase;
}

#moreInfo p {
    text-align: justify;
    margin: 10px 0px;
    margin-bottom: 30px;
    font-size: 120%;
}

#moreInfo a {
    color: #5D0492;
    padding: 5px 40px;
    border: 3px solid #5D0492;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 800;
    font-size: 120%;

    transition-property: color, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
}

#moreInfo a:hover {
    color: #FFFFFF;
    background-color: #5D0492;
}



#servicesCardHeading {
    width: 60%;
    color: #5D0492;
    font-size: 250%;
    text-align: right;
    text-transform: uppercase;
    line-height: 50px;
    margin: auto;
    position: absolute;
    top: 280px;
    left: 220px;

    opacity: 1;

    transition-property: display;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
}

#servicesCard:hover #servicesCardHeading {
    /* opacity: 0; */
    display: none;
}

#servicesCard:hover #moreInfo {
    opacity: 1;
}

/* Laptop View Styling goes here */
@media screen and (max-width: 1024px) {
    .active {
        border-bottom: 2px solid #5D0492;
    }

    #underline {
        border-bottom: 5px solid #FFFFFF;
    }

    header {
        width: 100%;      
        padding: 20px 0px; 
        margin: 0;
        justify-content: space-around;
        overflow: none;
    }

    #header-left {
        width: 10%;
    }

    header nav {
        width: 100%;
    }

    #header-left img{
        width: 80%;
    }
    
    nav ul li a {
        margin: 0px 10px;
        font-size: 80%;
    }

    .main-container {
        width: 100%;
        margin: 0;
        padding: 0px 100px;
        height: 450px;
        overflow: hidden;
    }
    
    #main-left {
        padding: 0;
        margin: 0;
        width: 40%;
    }

    #main-left h1 {
        font-size: 250%;
        line-height: 40px;
        margin-top: 0;
    }

    #main-left p {
        font-size: 100%;
        margin-top: 10px;
    }

    #main-left a {
        font-size: 100%;
        border: 1px solid #5D0492;
        padding: 10px 20px;
        border-radius: 5px 20px 5px 20px;
    }

    #main-right {
        width: 50%;
        margin-top: -200px;
        overflow: hidden;
    }

    #main-right img {
        margin: 0;
        margin-top: 380px;
        width: 130%;
    }

    .services {
        padding: 20px 100px;
        margin: 0;
        justify-content: space-evenly;
        background-size: cover;
    }

    #services-up #underline {
        border-bottom: 5px solid #5D0492;
    }

    #services-up h1 {
        font-size: 250%;
    }

    #services-up p {
        font-size: 100%;
    }

    #row {
        width: 100%;
    }

    .services #row {
        margin: 0;
        padding: 0;
    }

    #services-down {
        justify-content: center;
        margin: auto;
        width: 100%;
    }

    #services-down #row {
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    #services-down #row #card  {
        width: 25%;
        height: 260px;
        padding: 30px 10px;
        margin: 30px 10px;
        background-position: -40px 150px;
        text-align: center;
    }

    #services-down #row #card img {
        height: 25%;
    }

    #services-down #row #card h1 {
        width: 70%;
        font-size: 110%;
        margin: auto;
        padding: 5px 10px;
        
        line-height: 20px;
    }

    #services-down #row #card p {
        width: 100%;
        font-size: 75%;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    #services-down #row #card a {
        font-size: 70%;
        margin: 0;
    }

    #services-down #row #card #lm-button a {
        font-size: 70%;
    }

    .team {
        width: 100%;
        margin: 0;
        padding: 20px 0px;
    }

    #team-up h1 {        
        font-size: 250%;
    }

    #team-down {
        padding: 0;
        margin: auto;
    }


    #profile {
        margin: auto;
        width: 80%;
        padding: 10px 5px;
    }

    #team-down #row {
        margin: auto;
    }

    #profile-ico {
        margin: auto;
        width: 200px;
        height: 200px;
        border: 5px solid #FFFFFF;
    }

    #profile-ico img {
        width: 200px;
    }

    #profile h2 {
        font-size: 120%;
        margin-top: 10px;
        padding: 0;
    }

    .team #lm-button {
        padding: 0px 30px;

    }

    .team #lm-button a {
        font-size: 100%;
    }
    .team #lm-button i {
        font-size: 100%;
    }

    /* Testimonials Styling */
    .testimonials {
        padding: 20px 100px;
        margin: 0;
        height: 390px;
    }

    #testimonials-up h1 {
        font-size: 300%;
        margin: 0;
        margin-bottom: 30px;
    }

    #testimonials-down {
        height: 250px;
        align-items: center;
        justify-content: space-evenly;
    }

    #testimonials-down button {
        font-size: 20%;
    }

    .slide-parent {
        margin: auto;
        width: 50%;
        height: 320px;
    }

    #testimonials-card {
        width: 100%;
        height: 250px;
        padding: 10px 0px;
        margin: auto;
    }
    #testimonials-card #row {
        text-align: center;
        align-items: center;
        padding: 0px 20px;
        margin: auto;
    }

    #testimonials-profile-ico {
        width: 30%;
        margin: auto;
    }

    #rating-stars {
        text-align: left;
        width: 100%;
        margin: 10px 0px;
        margin-left: 20px;
        padding: 0;
    }

    #rating-stars h1 {
        font-size: 120%;
    }
    
    #rating-stars i {
        font-size: 100%;
        margin: 0px 0px;
        margin-bottom: 5px;
    }

    #review p {
        text-align: justify;
        margin: 0;
        font-size: 80%;
        padding: 0px 30px;
    }


    /* Footer Styling  */
    footer {
        padding: 20px 100px;
        margin: 0;
    }
    
    #footer-top {
        padding: 0px 0px;
    }

    #footer-top-left {
        margin-left: 10px;
        display: flex;
    }

    #footer-top-left i {
        display: flex;
        margin: 20px 10px;
        font-size: 80%;
    }

    #footer-top-right ul {
        display: flex;
    }

    #footer-top-right ul li {
        margin: 0;
        text-align: right;
        margin-left: 10px;
        border-left: 2px solid #FFFFFF;
        padding-left: 10px;
    }

    #footer-top-right ul li:first-child {
        border-left: none;
    }

    #footer-top-right ul li a {
        border: none;
        margin: 10px 0px;
        padding: 0;
        font-size: 75%;
    }

    #footer-bottom {
        margin-top: 10px;
    }
    #footer-bottom p {
        font-size: 75%;
    }


    /* Pic Card goes here */
    #round-pic-card {
        margin-right: -200px;
        height: 400px;
        width: 400px;
    }

    #pic-cardLeft {
        margin: 0;
        margin-left: -270px;
        width: 450px;
        height: 450px;
    }

    #pic-cardLeft img {
        /* width: 100%; */
        /* height: 100%; */
        height: 125%;
        margin: 0;
        margin-top: -50px;
        margin-left: -280px;
        /* width: 600px; */
        /* height: 600px; */
    }

    #pic-cardRight {
        margin: 0;
        margin-left: 150px;
        width: 450px;
        height: 450px;
    }

    #pic-cardRight img {
        height: 120%;
        margin: 0;
        margin-top: -80px;
        margin-left: -150px;
    }


    

    /* Tablet Services Page View Settings goes here */


    /* Tablet Portfolio Page View Settings goes here */
    .portfolio {
        width: 100%;
    }

    .portfolio-main {
        padding: 20px 100px;
        margin: 0;
    }

    #portfolio-main-left h1 {
        font-size: 300%;
        margin-top: 50px;
    }
    
    #portfolio-main-left p {
        width: 90%;
        font-size: 100%;
    }

    #round-pic-card img {
        margin-left: -350px;
    }

    .work {
        padding: 30px 100px;
        margin: 0;
    }

    .work h1 {
        font-size: 300%;
    }

    .work p {
        font-size: 90%;
    }
    
    .webDev {
        padding: 40px 100px;
        margin: 0;
    }
    
    #webDev-right {
        width: 55%;
    }

    #webDev-right h1 {
        width: 90%;
        font-size: 250%;
        line-height: 40px;
    }

    #webDev-right p {
        width: 100%;
        font-size: 90%;
        /* line-height: 50px; */
    }

    #webDev-right #pCard1 {
        height: 170px;
    }
    
    #webDev-right #pCard1 img {
        margin-bottom: 15px;
    }

    #webDev-right #pCard1 a {
        padding: 3px 15px;
        font-size: 70%;
        margin: 0;
    }

    .graphDesign {
        padding: 40px 100px;
    }

    #graphDesign-left {
        width: 55%;
    }

    #graphDesign-left h1 {
        width: 90%;
        font-size: 250%;
        line-height: 40px;
    }

    #graphDesign-left p {
        width: 100%;
        font-size: 90%;
        /* line-height: 50px; */
    }

    #graphDesign-left #pCard1 {
        height: 180px;
    }

    #graphDesign-left #pCard1 h2 {
        font-size: 80%;
        margin: 15px 0px;
    }

    #graphDesign-left #pCard1 a {
        font-size: 60%;
        padding: 3px 8px ;
        border: 2px solid #5D0492;
    }

    #graphDesign-left #pCard1 #pCard1Img {
        height: 90px;
    }

    .wpDev {
        padding: 40px 40px;
    }

    #wpDev-left {
        width: 40%
    }

    #wpDev-left #pic-cardLeft img {
        margin: 0;
        margin-top: -130px;
        margin-left: 60px;
    }

    #wpDev-right {
        width: 55%
    }

    #wpDev-right h1 {
        font-size: 250%;
        line-height: 40px;
    }

    #wpDev-right p {
        font-size: 90%;        
    }

    #wpDev-right #pCard1 {
        height: 200px;
    }

    #wpDev-right #pCard1 a {
        font-size: 90%;
        padding: 4px 12px;
    }


    /* Tablet Services Page View Settings goes here */
    .oServices-main {
        padding: 80px 50px;
        margin: 0;
    }

    #oServices-main-left {
        width: 70%;
        /* margin: 0; */
    }

    #oServices-main-left h1 {
        font-size: 300%;
        margin-top: 50px;
    }

    #oServices-main-left p {
        width: 90%;
        font-size: 100%;
    }

    .servInfo {
        padding: 60px 50px;
        padding-bottom: 20px;
    }
    
    .servInfo #row {
        justify-content: space-around;
        margin: 0;
        margin-bottom: 40px;
    }

    #servicesCard {
        width: 45%;
        height: 300px;
    }

    #servicesCardIcoBG {
        width: 100%;
        margin: 0;
        margin-top: -100px;
        margin-left: -50px;
        transition: .2s ease-in-out;
    }
    
    #servicesCardIcoBG img {
        width: 40%;
        margin: 0;
        margin-top: 140px;
        margin-left: 80px;
        transition: .2s ease-in-out;
    }

    #servicesCard:hover #servicesCardIcoBG {
        transform: scale(1.4);
    }

    #servicesCard:hover #servicesCardIcoBG > img {
        transform: scale(0.6);
        margin-top: 165px;
        margin-left: 270px;
    }

    #servicesCardHeading {
        width: 50%;
        font-size: 150%;
        line-height: 30px;
        margin-top:  -50px;
        margin-left: -30px;
    }

    #moreInfo {
        margin: 0;
        margin-left: auto;
        padding: 50px 20px;
        
    }

    #moreInfo h1 {
        width: 95%;
        font-size: 120%;
        line-height: 22px;
        margin-left: auto;
        text-align: right;
    }
    
    #moreInfo p {
        font-size: 90%;
        text-align: right justify;
        line-height: 20px;
        margin: 20px 0px;
    }

    #moreInfo a {
        font-size: 90%;
        padding: 2px 15px;
        border: 2px solid #5D0492;
        
    }
}

/* Table View Settings goes here*/

@media screen and (max-width: 768px) {
    .active {
        border-bottom: 2px solid #5D0492;
    }

    #underline {
        border-bottom: 5px solid #FFFFFF;
    }

    header {
        width: 100%;      
        padding: 20px 0px; 
        margin: 0;
        justify-content: space-around;
        overflow: none;
    }

    #header-left {
        width: 10%;
    }

    header nav {
        width: 100%;
    }

    #header-left img{
        width: 100%;
    }
    
    nav ul li a {
        margin: 0px 10px;
        font-size: 80%;
    }

    .main-container {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 0px;
        height: 480px;
    }
    
    #main-left {
        padding: 0px 30px;
        width: 50%;
    }

    #main-left h1 {
        font-size: 250%;
        line-height: 40px;
        margin-top: 0;
    }

    #main-left p {
        font-size: 100%;
        margin-top: 10px;
    }

    #main-left a {
        font-size: 100%;
        border: 1px solid #5D0492;
        padding: 10px 20px;
        border-radius: 5px 20px 5px 20px;
    }

    #main-right {
        margin-top: -200px;
        margin-left: -100px;
    }

    #main-right img {
        margin: 0;
        margin-top: 470px;
        width: 130%;
    }

    .services {
        padding: 20px 0px;
        margin: 0;
        justify-content: space-evenly;
        background-size: cover;
    }

    #services-up #underline {
        border-bottom: 5px solid #5D0492;
    }

    #services-up h1 {
        font-size: 250%;
    }

    #services-up p {
        font-size: 100%;
    }

    #row {
        width: 100%;
    }

    .services #row {
        margin: 0;
        padding: 0;
    }

    #services-down {
        justify-content: center;
        margin: auto;
        width: 100%;
    }

    #services-down #row {
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    #services-down #row #card  {
        width: 25%;
        height: 260px;
        padding: 30px 10px;
        margin: 30px 10px;
        background-position: -40px 150px;
        text-align: center;
    }

    #services-down #row #card img {
        height: 25%;
    }

    #services-down #row #card h1 {
        /* width: 90%; */
        font-size: 110%;
        margin: auto;
        padding: 5px 10px;
        
        line-height: 20px;
    }

    #services-down #row #card p {
        width: 100%;
        font-size: 75%;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    #services-down #row #card a {
        font-size: 70%;
        margin: 0;
    }

    #services-down #row #card #lm-button a {
        font-size: 70%;
    }

    .team {
        width: 100%;
        margin: 0;
        padding: 20px 0px;
    }

    #team-up h1 {        
        font-size: 250%;
    }

    #team-down {
        padding: 0;
        margin: auto;
    }


    #profile {
        margin: auto;
        width: 80%;
        padding: 20px 10px;
    }
    #team-down #row {
        margin: auto;
    }

    #profile-ico {
        margin: auto;
        width: 200px;
        height: 200px;
        border: 5px solid #0C44A1;
    }

    #profile-ico img {
        width: 200px;
    }

    #profile h2 {
        font-size: 120%;
        margin-top: 10px;
        padding: 0;
    }

    .team #lm-button {
        padding: 0px 30px;

    }

    .team #lm-button a {
        font-size: 100%;
    }
    .team #lm-button i {
        font-size: 100%;
    }

    /* Testimonials Styling */
    .testimonials {
        padding: 20px 100px;
        margin: 0;
        height: 390px;
    }

    #testimonials-up h1 {
        font-size: 300%;
        margin: 0;
        margin-bottom: 30px;
    }

    #testimonials-down {
        height: 250px;
        align-items: center;
        justify-content: space-evenly;
    }

    #testimonials-down button {
        font-size: 20%;
    }

    .slide-parent {
        margin: auto;
        width: 50%;
    }

    #testimonials-card {
        width: 100%;
        height: 250px;
        padding: 10px 0px;
        margin: auto;
    }
    #testimonials-card #row {
        text-align: center;
        align-items: center;
        padding: 0px 20px;
        margin: auto;
    }

    #testimonials-profile-ico {
        width: 30%;
        margin: auto;
    }

    #rating-stars {
        text-align: left;
        width: 100%;
        margin: 10px 0px;
        margin-left: 20px;
        padding: 0;
    }

    #rating-stars h1 {
        font-size: 120%;
    }
    
    #rating-stars i {
        font-size: 100%;
        margin: 0px 0px;
        margin-bottom: 5px;
    }

    #review p {
        text-align: justify;
        margin: 0;
        font-size: 80%;
        padding: 0px 30px;
    }


    /* Footer Styling  */
    footer {
        padding: 20px 100px;
        margin: 0;
    }
    
    #footer-top {
        padding: 0px 0px;
    }

    #footer-top-left {
        margin-left: 10px;
        display: flex;
    }

    #footer-top-left i {
        display: flex;
        margin: 20px 10px;
        font-size: 80%;
    }

    #footer-top-right ul {
        display: flex;
    }

    #footer-top-right ul li {
        margin: 0;
        text-align: right;
        margin-left: 10px;
        border-left: 2px solid #FFFFFF;
        padding-left: 10px;
    }

    #footer-top-right ul li:first-child {
        border-left: none;
    }

    #footer-top-right ul li a {
        border: none;
        margin: 10px 0px;
        padding: 0;
        font-size: 75%;
    }

    #footer-bottom {
        margin-top: 10px;
    }
    #footer-bottom p {
        font-size: 75%;
    }


    /* Pic Card goes here */
    #round-pic-card {
        margin-right: -200px;
        height: 400px;
        width: 400px;
    }

    #pic-cardLeft {
        margin: 0;
        margin-left: -250px;
        width: 450px;
        height: 450px;
    }

    #pic-cardLeft img {
        /* width: 100%; */
        /* height: 100%; */
        height: 125%;
        margin: 0;
        margin-top: -50px;
        margin-left: -280px;
        /* width: 600px; */
        /* height: 600px; */
    }

    #pic-cardRight {
        margin: 0;
        margin-left: 80px;
        width: 450px;
        height: 450px;
    }

    #pic-cardRight img {
        height: 120%;
        margin: 0;
        margin-top: -80px;
        margin-left: -150px;
    }

    /* Tablet Portfolio Page View Settings goes here */
    .portfolio {
        width: 100%;
    }

    .portfolio-main {
        padding: 20px 50px;
        margin: 0;
    }

    #portfolio-main-left {
        
    }

    #portfolio-main-left h1 {
        font-size: 300%;
        margin-top: 50px;
    }
    
    #portfolio-main-left p {
        width: 90%;
        font-size: 100%;
    }

    #round-pic-card img {
        margin-left: -350px;
    }

    .work {
        padding: 30px 50px;
        margin: 0;
    }

    .work h1 {
        font-size: 300%;
    }

    .work p {
        font-size: 90%;
    }
    
    .webDev {
        padding: 40px 40px;
        margin: 0;
    }
    
    #webDev-right {
        width: 55%;
    }

    #webDev-right h1 {
        width: 90%;
        font-size: 250%;
        line-height: 40px;
    }

    #webDev-right p {
        width: 100%;
        font-size: 90%;
        /* line-height: 50px; */
    }

    #webDev-right #pCard1 {
        height: 150px;
    }
    
    #webDev-right #pCard1 img {
        margin-bottom: 15px;
    }

    #webDev-right #pCard1 a {
        padding: 3px 15px;
        font-size: 70%;
        margin: 0;
    }

    .graphDesign {
        padding: 40px 40px;
    }

    #graphDesign-left {
        width: 55%;
    }

    #graphDesign-left h1 {
        width: 90%;
        font-size: 250%;
        line-height: 40px;
    }

    #graphDesign-left p {
        width: 100%;
        font-size: 90%;
        /* line-height: 50px; */
    }

    #graphDesign-left #pCard1 {
        height: 180px;
    }

    #graphDesign-left #pCard1 h2 {
        font-size: 70%;
        margin: 15px 0px;
    }

    #graphDesign-left #pCard1 a {
        font-size: 50%;
        padding: 3px 8px ;
        border: 2px solid #5D0492;
    }

    #graphDesign-left #pCard1 #pCard1Img {
        height: 90px;
    }

    .wpDev {
        padding: 40px 40px;
    }

    #wpDev-left {
        width: 40%
    }

    #wpDev-left #pic-cardLeft img {
        margin: 0;
        margin-top: -130px;
        margin-left: 60px;
    }

    #wpDev-right {
        width: 55%
    }

    #wpDev-right h1 {
        font-size: 250%;
        line-height: 40px;
    }

    #wpDev-right p {
        font-size: 90%;        
    }

    #wpDev-right #pCard1 {
        height: 170px;
    }

    #wpDev-right #pCard1 a {
        font-size: 90%;
        padding: 4px 12px;
    }


    /* Tablet Services Page View Settings goes here */
    .oServices-main {
        padding: 20px 50px;
        margin: 0;
    }

    #oServices-main-left {
        width: 70%;
        /* margin: 0; */
    }

    #oServices-main-left h1 {
        font-size: 300%;
        margin-top: 50px;
    }

    #oServices-main-left p {
        width: 90%;
        font-size: 100%;
    }

    .servInfo {
        padding: 60px 50px;
        padding-bottom: 20px;
    }
    
    .servInfo #row {
        justify-content: space-around;
        margin: 0;
        margin-bottom: 40px;
    }

    #servicesCard {
        width: 45%;
        height: 300px;
    }

    #servicesCardIcoBG {
        width: 100%;
        margin: 0;
        margin-top: -100px;
        margin-left: -50px;
    }
    
    #servicesCardIcoBG img {
        width: 40%;
        margin: 0;
        margin-top: 140px;
        margin-left: 80px;
    }

    #servicesCard:hover #servicesCardIcoBG {
        margin-top: -200px;
        margin-left: -120px;
    }

    #servicesCard:hover #servicesCardIcoBG > img {
        width: 20%;
        margin-top: 220px;
        margin-left: 140px;
    }

    #servicesCardHeading {
        width: 80%;
        font-size: 150%;
        line-height: 30px;
        margin-top: -50px;
        margin-left: -175px;
    }

    #moreInfo {
        margin: 0;
        margin-left: auto;
        padding: 40px 25px;
        /* text-align: right; */
    }

    #moreInfo h1 {
        width: 95%;
        font-size: 120%;
        line-height: 22px;
        text-align: right;
    }
    
    #moreInfo p {
        font-size: 90%;
        text-align: right justify;
        line-height: 20px;
        margin: 10px 0px;
        margin-top: 5px;
    }

    #moreInfo a {
        font-size: 90%;
        padding: 2px 15px;
        border: 2px solid #5D0492;
        
    }
}

/* For Mobile View */
@media screen and (max-width: 425px) {
    #underline {
        border-bottom: 4px solid #FFFFFF;
    }

    header {
        width: 100%;      
        padding: 20px 0px; 
        margin: 0;
        justify-content: space-around;
        overflow: none;
    }

    #header-left {
        width: 20%;
    }

    #header-left img{
        width: 100%;
    }

    nav {
        display: none;
    }
    
    #header-submenu {
        display: block;

    }

    .main-container {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 0px;
        height: 400px;
    }
    
    #main-left {
        padding: 0px 30px;
        width: 100%;
    }

    #main-left h1 {
        font-size: 200%;
        line-height: 30px;
        margin-top: 0;
    }

    #main-left p {
        font-size: 90%;
        margin-top: 10px;
    }

    #main-left a {
        font-size: 90%;
        border: 1px solid #5D0492;
        padding: 10px 20px;
        border-radius: 5px 20px 5px 20px;
    }

    #main-right {
        display: none;
    }

    .services {
        padding: 20px 0px;
        margin: 0;
        justify-content: space-evenly;
        background-size: cover;
    }
    
    #services-up #underline {
        border-bottom: 4px solid #5D0492;
    }

    #services-up h1 {
        font-size: 200%;
    }

    #services-up p {
        font-size: 90%;
    }

    #row {
        display: block;
        width: 80%;
    }

    #services-down {
        justify-content: center;
    }

    #services-down #row {
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    #services-down #row #card  {
        width: 80%;
        height: 280px;
        padding: 30px 30px;
        margin: 30px auto;

        background-position: -40px 135px;
    }

    #services-down #row #card img {
        height: 20%;
    }

    #services-down #row #card h1 {
        font-size: 130%;
        margin: 0px 0px;
        line-height: 25px;
        text-align: center;
        padding: 0px 40px;
    }

    #services-down #row #card p {
        font-size: 85%;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    #services-down #row #card a {
        font-size: 70%;
        margin: 0;
    }

    #services-down #row #card #lm-button a {
        font-size: 80%;
    }

    .team {
        width: 100%;
        padding: 30px 0px;
    }

    #team-up {
        margin: auto;
    }

    #team-up h1 {        
        font-size: 200%;
        padding: 0;
    }

    #team-down {
        padding: 0;
        margin: auto;
    }

    #team-down #row {
        width: 100%;
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    #profile {
        padding: 20px 10px;
        margin: auto;
    }
    #profile-ico {
        margin: auto;
        width: 200px;
        height: 200px;
        border: 5px solid #FFFFFF;
    }

    #profile-ico img {
        width: 200px;
    }

    #profile h2 {
        font-size: 120%;
        margin-top: 10px;
        padding: 0;
    }

    .team #lm-button {
        margin: auto;
        padding: 0px 30px;
    }

    .team #lm-button a {
        font-size: 90%;

    }
    .team #lm-button i {
        font-size: 90%;
    }

    /* Testimonials Styling */
    .testimonials {
        padding: 20px 0px;
        margin: 0;
        height: 480px;
    }

    #testimonials-up h1 {
        font-size: 200%;
        margin: 0;
        margin-bottom: 30px;
    }

    #testimonials-down {
        align-items: center;
    }

    #testimonials-down button {
        font-size: 20%;
    }

    .slide-parent {
        width: 100%;
    }

    #testimonials-card {
        width: 100%;
        height: 380px;
        padding: 10px 0px;
        margin: auto;
    }
    #testimonials-card #row {
        display: block;
        text-align: center;
        align-items: center;
        margin: auto;
    }

    #testimonials-profile-ico {
        width: 50%;
        margin: auto;
    }

    #rating-stars {
        width: 100%;
        margin: 10px 0px;
        text-align: center;
        padding: 0;
    }

    #rating-stars h1 {
        font-size: 100%;
    }
    
    #rating-stars i {
        font-size: 100%;
        margin: 0px 0px;
        margin-bottom: 5px;
    }

    #review p {
        text-align: justify;
        margin: 0;
        font-size: 80%;
        padding: 0px 20px;
    }


    /* Footer Styling  */
    footer {
        padding: 20px 30px;
        margin: 0;
    }
    
    #footer-top {
        padding: 0px 0px;
    }

    #footer-top-left {
        margin-left: 10px;
        display: block;
    }

    #footer-top-left i {
        margin: 20px 0px;
        font-size: 100%;
    }

    #footer-top-right ul {
        display: block;
    }

    #footer-top-right ul li {
        margin: 0;
        text-align: right;
        margin-right: 10px;
        border: none;
    }

    #footer-top-right ul li a {
        border: none;
        margin: 10px 0px;
        padding: 0;
        font-size: 90%;
    }

    #footer-bottom {
        margin-top: 10px;
    }
    #footer-bottom p {
        font-size: 75%;
    }


    /* Mobile-Portfolio Page Styling goes here */

    /* Portfolio Main Styling goes here */

    .portfolio { 
        /* overflow: hidden; */
    }

    .portfolio #row {
        width: 100%;
    }

    .portfolio-main {
        padding: 20px 40px;
        padding-bottom: 40px;
        margin: 0;
        display: block;
        overflow: none;
    }

    #portfolio-main-left {
        width: 65%;
        margin-top: 20px;
    }

    #portfolio-main-left h1 {
        font-size: 200%;
        margin: 0;
    }

    #portfolio-main-left p {
        font-size: 90%;
        width: 100%;
        text-align: justify;
    }

    #portfolio-main-right {
        width: 100%;
        margin: 0;
    }
    
    #round-pic-card {
        width: 300px;
        height: 300px;
        margin-top: -290px;
        margin-left: 230px;
    }

    #round-pic-card img {
        height: 300px;
        margin-left: -130px;
    }

    .work {
        padding: 20px 40px;
        margin: 0;
        
    }

    .work h1 {
        font-size: 200%;
    }

    .work p {
        font-size: 90%;
        text-align: justify;
    }

    .webDev {
        padding: 20px 40px;
        margin: 0;
        display: block;
    }

    #pic-cardLeft {
        height: 610px;
        width: 610px;
        margin: 0;
        margin-left: -300px;
        margin-top: -340px;
        transform: rotate(55deg);
    }

    #pic-cardLeft img {
        margin: 0;
        margin-top: 150px;
        margin-left: -110px;
        height: 540px;
        transform: rotate(-55deg);
    }

    #webDev-left {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #webDev-right {
        width: 100%;
        margin: 0;
        padding: 0;
        
        margin: auto;
    }

    #webDev-right #pCard1 {
        margin: 20px auto;
        width: 100%;
        height: 240px;
    }

    #webDev-right #pCard1 a {
        font-size: 90%;
    }

    #webDev-right h1 {
        font-size: 200%;
        line-height: 40px;
        width: 80%;
        text-align: right;
        margin-left: auto;
    }

    #webDev-right p {
        font-size: 100%;
    }

    .graphDesign {
        margin: 0;
        padding: 20px 40px;
        display: flex;
        flex-direction: column-reverse;
    }

    #graphDesign-left {
        width: 100%;
        text-align: right;
    }

    #graphDesign-left h1 {
        font-size: 200%;
        line-height: 40px;
        /* width: 80%; */
        margin-left: auto;
        
    }

    #graphDesign-left p {
        font-size: 90%;
        width: 100%;
        margin: 10px 0px;
    }
    
    #graphDesign-left #pCard1 #pCard1Img {
        height: 200px;
    }

    #graphDesign-left #pCard1 {
        width: 80%;
        height: 310px;
        margin: 30px auto;
    }

    #graphDesign-left #pCard1 h2 {
        font-size: 130%;
    }

    #graphDesign-left #pCard1 a {
        font-size: 80%;
    }

    #pic-cardRight {
        height: 610px;
        width: 610px;
        margin: 0;
        margin-left: -390px;
        margin-top: -350px;
        transform: rotate(55deg);
    }

    #pic-cardRight img {
        margin: 0;
        margin-top: 140px;
        margin-left: 240px;
        height: 400px;
        transform: rotate(-55deg);
    }

    .wpDev {
        display: block;
        padding: 20px 40px;
        margin: 0;
    }

    #wpDev-left {
        width: 100%;
    }

    #wpDev-left #pic-cardLeft img {
        margin: 0;
        height: 100%;
        margin-top: -20px;
        margin-left: 280px;
    }

    #wpDev-right {
        width: 100%;
        text-align: right;
    }

    #wpDev-right h1 {
        width: 100%;
        font-size: 200%;
        line-height: 40px;
    }

    #wpDev-right p {
        font-size: 90%;
        margin: 10px 0px;
    }

    #wpDev-right #pCard1 {
        width: 100%;
        height: 270px;
        margin: 40px 0px;
    }
    
    /* Services Page Mobile View goes here */
    .oServices #row {
        margin: 0;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .oServices-main {
        padding: 20px 40px;
        padding-bottom: 40px;
        margin: 0;
    }

    #oServices-main-left {
        width: 70%;
        margin: 0;
    }

    #oServices-main-left h1 {
        width: 100%;
        font-size: 200%;
        margin: 0;
    }

    #oServices-main-left p {
        width: 90%;
        font-size: 90%;
        text-align: justify;

    }

    #oServices-main-right {
        width: 30%;
        margin: 0;
    }
    
    #oServices-main-right #round-pic-card {
        margin: 0;
    }

    .servInfo {
        width: 100%;
        padding: 40px 0px;
        margin: auto;
        /* margin-top: -50px; */
    }

    #servicesCard {
        width: 100%;
        /* height: 500px; */
        margin: auto;
        margin-bottom: 40px;

    }

    #servicesCardIcoBG {
        transform: scale(1);
    }

    #servicesCard:hover > #servicesCardIcoBG img {
        transform: scale(1);
        /* margin-top: 170px; */
    }

    #servicesCardHeading {
        width: 80%;
        margin: 0;
        margin-left: -170px;
        margin-top: -50px;
        font-size: 170%;
        line-height: 30px;
    }

    #moreInfo {
        margin: 0;
        width: 65%;
        padding: 30px 50px;
        padding-left: 100px;
        margin-left: 00px;
    }

    #moreInfo h1 {
        margin-left: auto;
        width: 90%;
        font-size: 145%;
        line-height: 25px;
    }
    
    #moreInfo p {
        width: 100%;
        font-size: 100%;
        line-height: 23px;
        margin: 10px 0px;
    }
    
    #moreInfo a {
        /* width: 80%; */
        font-size: 100%;
        margin: 0;
        text-align: left;
        /* line-height: 25px; */
    }
}